* {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Grid Layout */

body {
    height: 100dvh;
    width: 100dvw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 2px solid black;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 2px solid black;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
}

/* Header Layout */

.image1, .image2, .lookUpImage, .image3 {
    border: 2px solid black;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.header1Left {
    display: flex;
    align-items: center;
}

.header1Right {
    display: flex;
    align-items: center;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2Left {
    display: flex;
}

/* Main Content Layout */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 24px;
}

.projectsContainer, .announcementsContainer, .trendingContainer {
    border: 2px solid blue;
}

.projectsContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcementsContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trendingContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Projects Layout and Styling?*/

.projectsContainer {
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}

.projectsHeader {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}

.projectsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
}

.project {
    border: 2px solid red;
}






